*{
    box-sizing: border-box;}
body{
    margin: 0;
    width: 100%;}
.header{
    position: relative;  }
.top{
    position: relative;
    width: 100%;
    height: 450px;}
.top img{
    width: 100%;
    height: 100%} 
.nav{
    display: flex;
    width: 70%;
    position: absolute;
    top: 0;
    margin: 10px;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;}
.nav ul a{
    padding: 10px;
    color: #fff;
    text-decoration:none;
    font-size: 20px;}
#x1 a{
    text-decoration:none;
    color: #fff; 
    font-size: 20px;}
#x2{
    color: #fff;
    position: relative;
    top: 10px;}
.zo{
    
    position: absolute;
    top: 25%;
    margin-left: 40%;
    width: 300px;}
#x3{
    color: #fff;
    font-size: 40px;
    width: 770px;
    margin-left: -80%;}
.search{
    display: flex;
    width: 247%;
    margin-left: -78%;
    height: 50px;
    background: #fff;
    border-radius: 10px;
}
#x4{
    padding-top: 12px;
    padding-left: 5px;
    width: 40px;
    height: 40px;
}
#x5{
    color: rgba(83, 78, 78, 0.872);
}
#x6{
    padding-top: 15px;
    margin-left: 100px;
    width: 15px;
    height: 35px;
}
#x7{
    width: 100%;
    height:100%;
    border-width: 0vh;
    border-left-width: 0.5px;
    border-color: rgb(236, 219, 219);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 48px;
    font-size: medium;
}
#x8{
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 17px;
    margin-left: 250px;
}
.second{
    display: flex;
    width: 70%;
    height: 220px;
   
    margin-left: 15%;
    margin-top: 50px;
}
.y1{
    background: yellow;
    width: 49%;
    height:220px;
    border-radius: 15px;
    border:1px;
    border-style: solid;
    border-color: rgb(215, 209, 209);
    background-image: url(2nd1.avif);
    background-position: center;
    background-size: cover;
}
.y2{
    margin-left: 2%;
    background: yellow;
    width: 49%;
    height:220px;
    border-radius: 15px;
    border:1px;
    border-style: solid;
    border-color: rgb(214, 210, 210);
    background-image: url(2nd2.avif);
    background-position: center;
    background-size: cover;
}
.z1{
    width: 100%;
    background:#fff;
    height: 48px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    top: 150px;

}
.a1{
    padding-top: 5px;
    padding-left: 15px;
    font-size: 20px;
    color: rgb(83, 74, 74);
}
.a2{
    
    padding-left: 15px;
    position: relative;
    top: -20px;
    font-size: 15px;
    color: rgb(83, 74, 74);
}
.third{
    margin-left: 15%;
}
#a3{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(51, 47, 47);
}
#a4{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(104, 100, 100);
}
.a5{
    display: flex;
}
#a6{
    padding-left: 30px;
    font-size:18px ;
    text-decoration: none;
    color: rgb(226, 68, 68);
}
.fourth{
    display: flex;
    margin-left: 15%;
    width: 35%;
    height: 300px;
}
.b1{
    width: 49%;
    height: 300px;
    border-radius: 10px;
    background-image: url(4th1.avif);
    background-position: center;
    background-size: cover;

}
.b2{
    margin-left: 2%;
    width: 49%;
    height: 300px;
    border-radius: 10px;
    background-image: url(4th2.avif);
    background-position: center;
    background-size: cover;

}
#a7{
    position: relative;
    top: 230px;
    padding: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
   
}
#a8{
    position: relative;
    top: 185px;
    padding: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
   
}
.fifth{
    margin-left: 15%;
}
#b3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 46, 46);
}
.b4{
    width: 85%;
    height:300px ;
    color: rgb(63, 63, 63);
    
}
.c1{
    display: flex;
    width: 100%;
    height: 90px;

}
.c2{
    display: flex;
    margin-top: 15px;
    width: 100%;
    height: 90px;

}
.d1{
    width: 32%;
    height: 90px;
    border: 1px solid rgb(221, 211, 211);
    border-radius: 7px;

}
.d2{
    margin-left:2%;
    width: 32%;
    height: 90px;
    border-radius: 7px;
    border: 1px solid rgb(221, 211, 211);
}
.d3{
    margin-left: 2%;
    width: 32%;
    height: 90px;
    background: blu;
    border-style: solid;
    border: 1px solid rgb(221, 211, 211);
    border-radius: 7px;
}
.f1{
    margin-left: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.f2{
    margin-left: 10px;
    margin-top: -10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.f3{
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
.ar{
    position: absolute;
    margin-top: -20px;
    margin-left: 20%;
    width: 25px;
    height: 15px;    
}
.ar1{
    position: absolute;
    margin-top: -40px;
    margin-left: 200px;
    width: 25px;
}
.p1{
    display: flex;
    width: 100%;
    height: 480px;
    background: #fcf6f6;}
.p2{
    margin-left: 25%;
    position: relative;
    width: 20%;}
.p3{
    margin-top: 20%;
    width: 90%;
    height:280px ;}
.p5{
    margin-top: -10px;
    width: 450px;
    height: 350px;
    background: gra;
    
}
.p6{
    width: 100%;
    height: 60px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.p7{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(90, 85, 85);
}
.p8{
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  rgb(90, 85, 85);
}
#p9{
    margin-left: 50px;
}
.p10{
    margin-top: 25px;
    width: 60%;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    border: 1px solid rgb(197, 192, 184);
    border-radius: 6px;
}
.sc{
    display: flex;
}
.p11{
    margin-top: 25px;
    margin-left: 15px;
    background: rgb(235, 87, 87);
    padding-left: 20px;
    padding-top: 12px;
    width: 140px;
    height: 40px;
    font-size: 13px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 7px;
}
.p12{
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(150, 142, 142);
}
.mob{
    display: flex;
    margin-top: 20px;
}
.android{
    width: 50%;
}
.ios{
    width: 50%;
    margin-left: -40%;
}
.s1{
    margin-left: 15%;
    width:70%;
    height: 400px;
}
.s2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(62, 60, 60);
}
.s3{
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    border: 1px solid rgb(214, 209, 209);
    padding-left: 20px;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(79, 77, 77);
}
.s4{
    width: 30px;
    height: 30px;
    margin-left: 95%;
    position: relative;
    top: -20px;
}
.k1{
    margin-left: 15%;
    width: 70%;
    height: 350px;
}
#k1{
    width: 150px;
}
.k4{
    width: 20px;
}
.k5{
    position: absolute;
    right:15%;
    margin-top: -2%;
}
.ft1{
    display: flex;
    margin-top: 20px;
}
.ft2{
    width: 20%;
    height:260px ;
}
.ft3{
    margin-left: 1%;
    width: 20%;
    height:256px ;
}
.ft1 a{
    text-decoration: none;
    list-style: none;
}
.ft1 li{
    list-style: none;
}
.l1{
    margin-top: -25px;
    margin-left: 10px;
    width:30px;
    height: 30px;
}
.l{
    display: flex;
}
.a{
    margin-top: 10%;
    margin-left: 18%;
    width: 60%;
}